doctype html
html
  body
<<<<<<< HEAD
    form(action='' method='post')
      | review date
      input(type='date', name='bday')
=======
    form(action='',method='POST')
      | Birthday:
      input(type='date', name='date')
>>>>>>> refs/remotes/origin/master
      input(type='submit')