extends dashboard.pug
block content
  aside
    #sidebar.nav-collapse
      ul#nav-accordion.sidebar-menu
        p.centered
          a(href='#')
            img.img-circle(src='assets/img/ui-sam.jpg', width='60')
        h5(style='padding-left:34px;') rajesh seendripu
        li.mt 
          a.active(href='#')
            i.fa.fa-dashboard
              span  Self Appraisal
        
  section#main-content
    section.wrapper
      h3
        i.fa.fa-angle-right
        |  To-Do Lists
      // SIMPLE TO DO LIST
      .row.mt
        .col-md-12
          .white-panel.pn
            .panel-heading
              .pull-left
                h5
                  i.fa.fa-tasks
                  |  Todo List - Basic Style
              br
            .custom-check.goleft.mt
              table#todo.table.table-hover.custom-check
                tbody
                  tr
                    td
                      span.check
                        input.checked(type='checkbox')
                      a(href='index.html#') Send invoice
                      button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                  tr
                    td
                      span.check
                        input.checked(type='checkbox')
                      a(href='index.html#') Check messages
                      button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                  tr
                    td
                      span.check
                        input.checked(type='checkbox')
                      a(href='index.html#') Pay bills
                      button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
                  tr
                    td
                      span.check
                        input.checked(type='checkbox')
                      a(href='index.html#') Schedule site 
                      button.close(aria-hidden='true', data-dismiss='alert', type='button') ×
            // /table-responsive
          // / White-panel
      // COMPLEX TO DO LIST
      .row.mt
        .col-md-12
          section.task-panel.tasks-widget
            .panel-heading
              .pull-left
                h5
                  i.fa.fa-tasks
                  |  Todo List - Complex Style
              br
            .panel-body
              .task-content
                ul.task-list
                  li
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp Dashgum - Admin Panel Theme
                      span.badge.bg-theme Done
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs
                          i.fa.fa-check
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-pencil
                        button.btn.btn-danger.btn-xs
                          i.fa.fa-trash-o
                  li
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp Extensive collection of plugins
                      span.badge.bg-warning Cool
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs
                          i.fa.fa-check
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-pencil
                        button.btn.btn-danger.btn-xs
                          i.fa.fa-trash-o
                  li
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp Free updates always, no extra fees.
                      span.badge.bg-success 2 Days
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs
                          i.fa.fa-check
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-pencil
                        button.btn.btn-danger.btn-xs
                          i.fa.fa-trash-o
                  li
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp More features coming soon
                      span.badge.bg-info Tomorrow
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs
                          i.fa.fa-check
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-pencil
                        button.btn.btn-danger.btn-xs
                          i.fa.fa-trash-o
                  li
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp Hey, seriously, you should buy this Dashboard
                      span.badge.bg-important Now
                      .pull-right
                        button.btn.btn-success.btn-xs
                          i.fa.fa-check
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-pencil
                        button.btn.btn-danger.btn-xs
                          i.fa.fa-trash-o
              .add-task-row
                a.btn.btn-success.btn-sm.pull-left(href='todo_list.html#') Add New Tasks
                a.btn.btn-default.btn-sm.pull-right(href='todo_list.html#') See All Tasks
        // /col-md-12
      // /row
      // SORTABLE TO DO LIST
      .row.mt.mb
        .col-md-12
          section.task-panel.tasks-widget
            .panel-heading
              .pull-left
                h5
                  i.fa.fa-tasks
                  |  Todo List - Sortable Style
              br
            .panel-body
              .task-content
                ul#sortable.task-list
                  li.list-primary
                    i.fa.fa-ellipsis-v
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp Dashgum - Admin Panel Theme
                      span.badge.bg-theme Done
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs.fa.fa-check
                        button.btn.btn-primary.btn-xs.fa.fa-pencil
                        button.btn.btn-danger.btn-xs.fa.fa-trash-o
                  li.list-danger
                    i.fa.fa-ellipsis-v
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp Extensive collection of plugins
                      span.badge.bg-warning Cool
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs.fa.fa-check
                        button.btn.btn-primary.btn-xs.fa.fa-pencil
                        button.btn.btn-danger.btn-xs.fa.fa-trash-o
                  li.list-success
                    i.fa.fa-ellipsis-v
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp Free updates always, no extra fees.
                      span.badge.bg-success 2 Days
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs.fa.fa-check
                        button.btn.btn-primary.btn-xs.fa.fa-pencil
                        button.btn.btn-danger.btn-xs.fa.fa-trash-o
                  li.list-warning
                    i.fa.fa-ellipsis-v
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp More features coming soon
                      span.badge.bg-info Tomorrow
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs.fa.fa-check
                        button.btn.btn-primary.btn-xs.fa.fa-pencil
                        button.btn.btn-danger.btn-xs.fa.fa-trash-o
                  li.list-info
                    i.fa.fa-ellipsis-v
                    .task-checkbox
                      input.list-child(type='checkbox', value='')
                    .task-title
                      span.task-title-sp Hey, seriously, you should buy this Dashboard
                      span.badge.bg-important Now
                      .pull-right.hidden-phone
                        button.btn.btn-success.btn-xs.fa.fa-check
                        button.btn.btn-primary.btn-xs.fa.fa-pencil
                        button.btn.btn-danger.btn-xs.fa.fa-trash-o
              .add-task-row
                a.btn.btn-success.btn-sm.pull-left(href='todo_list.html#') Add New Tasks
                a.btn.btn-default.btn-sm.pull-right(href='todo_list.html#') See All Tasks
  footer.site-footer
    .text-center
      | 2017 t-hub
      a.go-top(href='/mydata#')
        i.fa.fa-angle-up

  script(src='assets/js/jquery.js')
    script(src='assets/js/bootstrap.min.js')
    script.include(type='text/javascript', src='assets/js/jquery.dcjqaccordion.2.7.js')
    script(src='assets/js/jquery.scrollTo.min.js')
    script(src='assets/js/jquery.nicescroll.js', type='text/javascript')
    // common script for all pages
    script(src='assets/js/common-scripts.js')
    // script for this page
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='assets/js/tasks.js', type='text/javascript')
    script.
      jQuery(document).ready(function() {
      TaskList.initTaskWidget();
      });
      $(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
      });
    script.
      //custom select box
      $(function(){
      $('select.styled').customSelect();
      });
