doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dashboard')
    meta(name='keyword', content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    title My_Policy
    // Bootstrap core CSS
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    // external css
    link(href='assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='assets/css/style.css', rel='stylesheet')
    link(href='assets/css/style-responsive.css', rel='stylesheet')
    style.
      .header, #sidebar {
      background: #2C3E50;
      }
      span {
      font-size: 14px;
      }
      .file-uploader {
      background-color: #dbefe9;
      border-radius: 3px;
      color: #242424;
      }
      .file-uploader__message-area {
      font-size: 18px;
      padding: 1em;
      text-align: center;
      color: #377a65;
      }
      .file-list {
      background-color: white;
      font-size: 16px;
      }
      .file-list__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      }
      .file-list li {
      height: 50px;
      line-height: 50px;
      margin-left: .5em;
      border: none;
      overflow: hidden;
      }
      .removal-button {
      width: 20%;
      border: none;
      background-color: #d65d38;
      color: white;
      }
      .removal-button::before {
      content: "X";
      }
      .removal-button:focus {
      outline: 0;
      }
      .file-chooser {
      padding: 1em;
      transition: background-color 1s, height 1s;
      }
      .file-chooser p {
      font-size: 18px;
      padding-top: 1em;
      }
      .file-uploader {
      max-width: 400px;
      height: auto;
      margin: 2em auto;
      }
      .file-uploader * {
      display: block;
      }
      .file-uploader input[type=submit] {
      margin-top: 2em;
      float: right;
      }
      .file-list {
      margin: 0 auto;
      max-width: 90%;
      }
      .file-list__name {
      max-width: 70%;
      float: left;
      }
      .removal-button {
      display: inline-block;
      height: 100%;
      float: right;
      }
      .file-chooser {
      width: 90%;
      margin: .5em auto;
      }
      .file-chooser__input {
      margin: 0 auto;
      }
      .file-uploader__submit-button {
      width: 100%;
      border: none;
      font-size: 1.5em;
      padding: 1em;
      background-color: #72bfa7;
      color: white;
      }
      .file-uploader__submit-button:hover {
      background-color: #a7d7c8;
      }
      .file-list li:after, .file-uploader:after {
      content: "";
      display: table;
      clear: both;
      }
      .hidden {
      display: none;
      }
      .hidden input {
      display: none;
      }
      .error {
      background-color: #d65d38;
      color: white;
      }
      *, *::before, *::after {
      box-sizing: border-box;
      }
      ul, li {
      margin: 0;
      padding: 0;
      }
      .personal_details {
      background-color: white;
      border-left:4px solid #fd9f1b;
      }
      .personal_details h3 {
      padding: 10px;
      }
  body
    section#container
      // header start
      header.header.black-bg
        .sidebar-toggle-box
          .fa.fa-bars.tooltips(data-placement='right', data-original-title='Toggle Navigation')
        // logo start
        a.logo(href='/dashbord')
          b
            img(src='myhub_logo.png',style='height:55px;width:100px;margin-top:-13px')
        // logo end
        .top-menu
          ul.nav.pull-right.top-menu
            li
              a.logout(href='/logout') Logout
      // header end
      //
        **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        ***********************************************************************************************************************************************************
      // sidebar start
      aside
        #sidebar.nav-collapse
          // sidebar menu start
          ul#nav-accordion.sidebar-menu
            p.centered
              a(href='/dashbord')
                if user.profilepic
                  img.img-circle(src=user.profilepic, width='80')
                else
                  img.img-circle(src='img/user.jpg', width='80')
            h5.centered 
              p.sname= user.StaffName
            li.mt
              a.active(data-toggle='tab', href='#onboarding')
                i.fa.fa-hotel
                span On Boarding
            li.sub-menu
              a(data-toggle='tab', href='#leave')
                i.fa.fa-
                span Leave
              //
                                      <ul class="sub">
                                          <li><a  href="#"></a></li>
                                      </ul>
            li.sub-menu
              a(data-toggle='tab', href='#food')
                i.fa.fa-
                span Food
              //
                                      <ul class="sub">
                                          <li><a  href="#"></a></li>
                                      </ul>
            li.sub-menu
              a(data-toggle='tab', href='#transport')
                i.fa.fa-
                span Transport
              //
                                      <ul class="sub">
                                          <li><a  href="#"></a></li>
                                      </ul>
            li.sub-menu
              a(data-toggle='tab', href='#insurance')
                i.fa.fa-
                span Insurance
              //
                                      <ul class="sub">
                                          <li><a  href="#"></a></li>
                                      </ul>
            li.sub-menu
              a(data-toggle='tab', href='#payroll')
                i.fa.fa-
                span Payroll
              //
                                      <ul class="sub">
                                          <li><a  href="#"></a></li>
                                      </ul>
            li.sub-menu
              a(data-toggle='tab', href='#advance')
                i.fa.fa-
                span Advance
              //
                                      <ul class="sub">
                                          <li><a  href="#"></a></li>
                                      </ul>
            li.sub-menu
              a(data-toggle='tab', href='#exitpolicy')
                i.fa.fa-
                span Exit Policy
              //
                                      <ul class="sub">
                                          <li><a  href="#"></a></li>
                                      </ul>
          // sidebar menu end
      // sidebar end
      //
        **********************************************************************************************************************************************************
        MAIN CONTENT
        ***********************************************************************************************************************************************************
      // main content start
      section#main-content
        section.wrapper.site-min-height
          h3
            i
          .row.mt
            .col-lg-12
              .tab-content
                #onboarding.tab-pane.fade.in.active
                  h3 onboarding
                #leave.tab-pane.fade
                  h3 leave
                #food.tab-pane.fade
                  h3 food
                #transport.tab-pane.fade
                  h3 transport
                #insurance.tab-pane.fade
                  h3 insurance
                #payroll.tab-pane.fade
                  h3 payroll
                #advance.tab-pane.fade
                  h3 advance
                #exitpolicy.tab-pane.fade
                  h3 exitpolicy
      // /MAIN CONTENT
      // main content end
      //
        footer start--
        <footer class="site-footer">
        <div class="text-center">
        2014 - Alvarez.is
        <a href="blank.html#" class="go-top">
        <i class="fa fa-angle-up"></i>
        </a>
        </div>
        </footer>
        <!--footer end
    // js placed at the end of the document so the pages load faster
    script(src='assets/js/jquery.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/jquery-ui-1.9.2.custom.min.js')
    script(src='assets/js/jquery.ui.touch-punch.min.js')
    script.include(type='text/javascript', src='assets/js/jquery.dcjqaccordion.2.7.js')
    script(src='assets/js/jquery.scrollTo.min.js')
    script(src='assets/js/jquery.nicescroll.js', type='text/javascript')
    // common script for all pages
    script(src='assets/js/common-scripts.js')
    // script for this page
    script.
      //custom select box
      $(function(){
      $('select.styled').customSelect();
      });
